<files .htaccess>
order allow,deny
deny from all
</files>

#--------------------------------------------------
# Répertoire : /Blog Professionnel/
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on


ErrorDocument 404 http://localhost/p5_symfony_php_blog/templates/404.html

#--------------------------------------------------
# Règles de réécriture d'URL : 
#--------------------------------------------------


RewriteRule ^$ index.php?action=accueil

RewriteRule ^connexion$ index.php?action=connexion
RewriteRule ^inscription$ index.php?action=inscription
RewriteRule ^retrouvez-votre-compte$ index.php?action=retrouvez-votre-compte
RewriteRule ^nouveau-mot-de-passe&id=([0-9]+)&email=(.*)$ index.php?action=nouveau-mot-de-passe&id=$1&email=$2

RewriteRule ^blogs$ index.php?action=blogs
RewriteRule ^blog-([0-9]+)$ index.php?action=blog&numero=$1

RewriteRule ^ajouter-un-blog$ index.php?action=ajouter-un-blog
RewriteRule ^modifier-blogs$ index.php?action=modifier-blogs
RewriteRule ^modifier-blog-([0-9]+)$ index.php?action=modifier-blog&numero=$1
RewriteRule ^commentaires$ index.php?action=commentaires
RewriteRule ^utilisateurs$ index.php?action=utilisateurs