{% block head %} 
        <title>404 Erreur</title>
		 <link rel="stylesheet" href="/css/erreur.css">
{% endblock %}

{% block content %}
      <section>
        <img src="/images/logo.png"/>
        <h1><span id="erreur">403</span> Accès non autorisé</h1>
        <p>Nous sommes désolés, vous n'avez pas les droits pour accéder à cette page.</p>
        <a href="/">Retourner à la page d'accueil</a>
      </section>
{% endblock %}