/* PRÉSENTATION */
#presentation {
  text-align: center;
  padding: 25px 5px 25px 5px;
}

#presentation #phraseAccroche {
  font-size: 16px;
  color: grey;
}

#blogPresentation {
  margin: auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
}

#photoJessy {
  height: 175px;
  width: 115px;
  border: 1px solid #ffffffb3;
}

#blogPresentation .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
}

#openclassrooms {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

#photoOpenclassrooms {
  height: 60px;
}

/* LES DERNIERS BLOGS PUBLIÉS */
#conteneurBlogs {
  padding: 35px 0 35px 0;
  margin: auto;
  max-width: 1500px;
  width: 100%;
  text-align: center;
}

#blogs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5px;
}

#blogs a {
  margin: 10px;
}

#blogs article {
  max-width: 500px;
  width: 100%;
  background-color: #15191c;
  border-radius: 5px;
  border: 1px solid #ffffffb3;
  padding: 5px;
}

#blogs article:hover p {
  color: #41a4d1;
}

.blogImage {
  height: 150px;
  width: 200px;
}

#curriculumVitae {
  text-align: center;
  padding: 35px 5px 35px 5px;
}
