
body {
 margin: 0;
 font-size: 14px;
 font-family: Segoe UI, Helvetica, Arial, sans-serif ;
 color: #24292e;
 background-color: #37373d;
 height: 100vh;
 display:flex;
 flex-direction: column;
 justify-content: space-between;
}

h1 {
 font-size: 30px;
 color: #15191c;
 text-shadow: 1px 1px 10px #ffffffb3;
 text-align: center;
}

h2 {
 font-size: 24px;
 color: #15191c;
 text-shadow: 1px 1px 3px #ffffffb3;
 text-align: center;
}

h3, h4, h5, h6 {
 color: #ffffffb3;
 text-align: center;
}

p, span {
 color:#ffffffb3;
}

i,a, a:link, a:visited, a:active, a:focus {
 text-decoration: none;
 color:#ffffffb3;
 margin:5px;
}

i:hover, a:hover {
 color: #41a4d1;
}

i {
 font-size: 20px;
}

form {
 max-width: 700px;
 width: 100%;
 margin-left: auto;
 margin-right: auto;
}

label {
 color:#ffffffb3;
 display: block;
 margin: 5px auto 5px auto;
 width: 90%;
}

input, textarea {
 color: #41a4d1;
 background-color: #15191c;
 border: 1px solid #0c0f14;
 border-radius: 4px;
 padding: 12px 5px 12px 5px;
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 90%;
 font-size: 110%;
}


input[type="submit"] {
 color:#ffffffb3;
 cursor: pointer;
 width: 80%;
 max-width: 350px;
 display: block;
 margin: 5px auto 0 auto;
 font-size: 115%;
 border: 1px solid #41a4d1;
}

input[type="submit"]:hover {
 color: #15191c;
 background-color:#41a4d1;
 border: 1px solid #15191c;  
 font-weight: bold;
}

form span {
 display: block;
 text-align: center;
 color: #41a4d1;
 margin: 0;
}

[type="file"] {
 display: none;
}
     
label[for="image"] {
 cursor: pointer;
 font-weight: bold;
 text-align: center;
 background-color: #15191c;
 border: 1px solid #0c0f14;
 border-radius: 4px;
 padding: 6px 2px 6px 2px;
 position: relative;
 top: 10px;
}
      
label[for="image"] {
 margin: auto;
 max-width: 350px;
}
  
label[for="image"]:hover {
 color:#41a4d1; 
}

button {
 background-color: #15191c;
 border: 1px solid #0c0f14;
 border-radius: 8px;
 padding: 10px 5px 10px 5px;
 margin: 5px;
 font-size: 115%;
}

button:hover {
  color:#41a4d1;
}

ul, li, ol {
 text-decoration: none!important;
 color:transparent;  
}

ul {
 padding-inline-start:0;
}
li {
 display: inline;
}

/* Retour message serveur */
#messageServeur {
 text-align: center;
 color: darkred;
 font-size: 110%;
 padding: 5px;
 background-color:#15191c ;
 border: 1px solid darkred;
 max-width: 300px;
 margin: 5px auto;
}

 #messageServeurTrue {
 text-align: center;
 color: darkgreen;
 font-size: 110%;
 padding: 5px;
 background-color:#15191c ;
 border: 1px solid darkgreen;
 max-width: 300px;
 margin:5px auto;
}

#boucleNul {
 color: #41a4d1;
 text-align: center;
}

/* header + menu du haut */
header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: #15191c;
 font-weight: 600;
 padding: 10px;
 border-bottom:1px solid #adadaf;
}

header a:hover {
 border-bottom: 1px solid #41a4d1;
}

header #admin {
 color: #41a4d1;
}

.logo {
 height: 50px;
}

/* Footer + Menu du bas */
footer {
 background-color: #15191c;
 color:#ffffffb3;
 text-align: center;
}

#footer {
 display: flex;
 justify-content: space-around;
 align-items: center;
}
#footer li {
 display: inline;
 margin: 5px;
 font-size: 20px;
}

#menuFooter {
 border-bottom:1px solid #adadaf;
 border-top:1px solid #adadaf;
 font-weight: 600;
 padding: 10px;
}

#menuFooter span {
 margin: 5px;
 color: #757170;
}

#menuFooter span:hover {
 color: #adadaf;
}