{% extends "base.twig" %}

{% block head %} 
    <title>Admin Liste blogs</title>
		<link rel="stylesheet" href="public/css/modifierBlogs.css">
{% endblock %}

{% block content %}
<h1>Choisissez un blog que vous souhaitez modifier</h1>
<div id="litesDesBlogs">
  {% for blog in listeDesBlogs %}
		<a href= "modifier-blog-{{ blog.getId }}">
      <article>
      <p id="titre"><strong>{{ blog.getTitre }}</strong></p>
     </article>
    </a>
    {% endfor %}
</div>
{% endblock %}