<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <META NAME="Language" CONTENT="fr">
        <title>404 Erreur</title>
		 <link rel="stylesheet" href="/css/erreur.css">
        <link rel="icon" type="image/png" href="public/images/logo.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
       <section>
        <img src="/images/logo.png"/>
        <h1><span id="erreur">404</span> Page introuvable</h1>
        <p>Nous sommes désolés, la page que vous avez demandée est introuvable. Veuillez revenir à la page d'accueil ou contactez-nous à j.bros@hotmail.fr</p>
        <a href="/">Retourner à la page d'accueil</a>
      </section>
    </body>
</html>