{% extends "base.twig" %}

{% block content %}

	
<section id="presentation">

	<h1>Développeur web</h1>
	<p>Un développeurs qui transcende les limites !</p>

	<div>
		<img src="" alt="Photo de jessy | Blog développeur web">
		<p><strong>Jessy BROS - </strong>Développeur web Développeurweb Back-end </p>
	</div>

	<div>
		<p><strong>Études : </strong>Formation chez Openclassrooms: Développeur d'application - PHP / Symfony</p>
		<img src="" alt="logo openclassrooms">
	</div>

</section>

<section id="blogs">

	<h2>Les derniers blogs</h2>

	 {% for blog in lesDerniersBlogs %}
        <article> Blog : {{ blog.id }} </article>
    {% endfor %}

	     

	<a href="blogs"><button>Voir tous les blogs existants</button></a>

</section>

<section id="contact_form">
<h2>Contactez-moi</h2>
<form action="mailto:j.bros@hotmail.fr" method="post">

	<label for="nom">Nom/Prénom</label>
	<input type="text" name="nom" placeholder="Votre Nom" id="nom"><br>

	<label for="email">Email</label>
	<input type="email" name="email" placeholder="adresse@domaine.com" id="email"><br>

	<label for="message">Message</label>

<textarea id="message" rows="4" cols="50" placeholder="Votre message..."></textarea><br>

	<input type="submit" name="submit" id="submit" value"Envoyer"><br>

</form>

</section>

	{% endblock %}