{% extends "base.twig" %}

{% block head %} 
        <title>Connexion administrateur</title>
{% endblock %}

{% block content %}

<h1>connexion</h1>

<form action="" method="post">

	<label for="email">Votre Email</label>
	<input type="email" name="email" placeholder="adresse@hotmail.com" id="email" required><br>

	<label for="mdp">Mot de Passe</label>
	<input type="password" name="mdp" id="mdp"><br>

	<input type="submit" name="submit" value="connexion" id="submit" required><br>
	
	<a href=""><span>Mot de passe oublié ?</span></a>

	{{ messageServeur|raw }}
		

</form>


{% endblock %}
